/* Fondo para formulario */
.estrellas{
    background-image: url("../images/estrellas.jpg");
}
.filtroCatalogo{
  width: 60%; 
  height: 50px; 
  text-align-last: center;
}
/* Color Azul */
.cabecera{
    background-color: #02AFEB;
}
/* Centrar la tarjeta dejando margen arriba */
.margenTarjeta{
    margin: 50px;
}
/* redondear borde */
.formaFol{
    border-radius: 10px 10px 40px 40px;
}
/* barra de navegacion color negro */
.navbar {
    margin-bottom: 50px;
    border-radius: 0;
    background-color: black;
    color: white;
  }
  /* Tamaño de fotos */
.fotoTam{
    width:100%; 
    height:400px
}
/* logo en cabecera */
.logoCab{
    width:15rem; 
    height:5rem
}
.prueba{      
    margin-right: 40px;
    margin-top: 40px;
}
  /* banner */ 
.jumbotron {
    margin-bottom: 0;
    background-size: 100% 300px;
    background-image: url("../images/banner.png");
}
.tamDescripcion{
    width: 45rem; 
    height: 15rem;
}
 
  /* pie de pagina */
footer {
    background-color: #000000;
    color: white;
    padding: 25px;
}
/* Formato de tarjeta con sombra */
.cardc {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    font-family: arial;
}
/* precio */
.price {
    color: grey;
    font-size: 22px;
}

.alinearCentroV{
    display: flex;
    align-items: center;
}
/* boton dentro de la tarjeta */
.negro {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
/*raton sobre boton dentro de la tarjeta */
.opa:hover {
    opacity: 0.7;
}
/* tamaño de logo */
.logo{
    width:200px; 
    height:50px;
    
}
.barra{
  overflow:scroll;
     height:400px;
     width:100%;
}
/* formato del desplegable de listar*/
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #000000;
    color: white;
  }
  
  /* Estilo de los botones dentro de la pestaña */
    .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px;
    }
  
    /* Estilo de los botones dentro de la pestaña cuando e raton está encima */
    .tab button:hover {
      background-color: #ddd;
      color: black;
    }
  
    /* Estilo del bton activo */
    .tab button.active {
      background-color: #ccc;
      color: black;
    }
  
    /* Aplicar estilo al contenido de la pestaña */
    .tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
    }

/* Position the image container (needed to position the left and right arrows) *

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.comment{
  padding-left: 40px;
  padding-right: 40px;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 33.33%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
/* range */

.inputDiv {
  width: 90%;
  margin: 50px auto;
  position: relative;
}

input[type='range'] {
  display: block;
  width: 100%;
}

input[type='range']:focus {
  outline: none;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  background-color: #02C38A;
  width: 21px;
  height: 21px;
  border: 3px solid #ddd;
  border-radius: 50%;
  margin-top: -9px;
}

input[type=range]::-moz-range-thumb {
  background-color: #02C38A;
  width: 16px;
  height: 16px;
  border: 3px solid #ddd;
  border-radius: 50%;
}

input[type=range]::-ms-thumb {
  background-color: #02C38A;
  width: 21px;
  height: 21px;
  border: 3px solid #ddd;
  border-radius: 50%;
}

input[type=range]::-webkit-slider-runnable-track {
  background-color: #333;
  height: 5px;
  -webkit-appearance: none;
  background-image:linear-gradient(to right, #02C38A calc(var(--value)*10%), black 0);
}

input[type=range]:focus::-webkit-slider-runnable-track {
  outline: none;
}

input[type=range]::-moz-range-track {
  -webkit-appearance: none;
  background-image:linear-gradient(to right, #02C38A calc(var(--value)*10%), black 0);
  height: 5px;
}

input[type=range]::-ms-track {
  background-color: #777;
  height: 3px;
}

.etiqueta {
  width: 30px;
  height: 26px;
  position: absolute;
  z-index: 9;
  background-color: #02C38A;
  color: white;
  font-size: 12px;
  text-align: center;
  padding-top: 7px;
  top: -45px;
}

.etiqueta:after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 8;
  background-color: #02C38A;
  position: relative;
  left: 9px;
}